{% extends "base.html.twig" %}

{% block body %}

	<section class="row article">
		<article class="col-md-6 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
			<h2>{{ event.titre }}</h2>
			<div class="metadata">
				dans la
				{{event.categorie.titre}}</div>
			<div class="content">
				<img src="{{ asset('image/events/' ~ event.image) }}" alt="" class="img-fluid">
				<br>
				{{ event.description|raw }}
			
			</div>
			<div class="card-body">
            <p class="card-text text-end fw-bold">{{ event.place }}</p>
            </div>



			{{ form_start(form) }}
		{% if ask == false %}
		<button type="submit" class="btn btn-primary">Demander</button>
		{% else %}
		<p>Tu as déjà envoyé une demande pour rejoindre </p>
		{% endif %}

		{{ form_end(form) }}
		</article>
		

{% if is_granted('ROLE_ORGA') %}
<h2> Liste des Participants: </h2>
{% for dm in getUser %}

{{dm.user}}
{{ form_start(formAccept) }}
{% if dm.isaccepted == false %}
<a class="btn btn-primary" href="{{ path('showuser_event', {'id': dm.user.id})}}">Accept</a>
{% else %}
	<button class="remove">Supprimer de la liste</button>
{% endif %}
{{ form_end(formAccept) }}
<button class="denied">Deny</button>

{% endfor %}
{% endif %}



	</section>
    {% endblock %}
